body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  margin: 0;
}

.container {
  text-align: center;
  color: #fff;
  flex-direction: column;
  display: flex;
}

.containerButton {
    text-align: center;
}

.waves-container {
  align-items: center;
  margin-top: 20px;
}

#playBtn {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: background-color 0.3s;
}

#playBtn:hover {
  background-color: #f3fff4;
}

#wavesContainer svg {
  width: 800px;
  height: 200px;
}