body{
    background-color: rgb(242, 156, 255);
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 0, 156);
}

p{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(223, 209, 102);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.Envelope{
    text-align: center;
}

button{
    background-color: rgb(131, 114, 207);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

button:hover{
    background-color: rgb(202, 54, 16) ;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}



